.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #393939;
  width: 100%;
}

.main h1 {
  color: #ffffff;
  font-weight: 400;
  font-size: 60px;
}
.main h1 span {
  color: #e87a7a;
}

.main p {
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
}
.main p span {
  color: #e87a7a;
}
